## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

Unix:
`wc hightemp.txt`

In [1]:
with open("hightemp.txt",'r') as f:
    counter = 0
    for _ in f.readlines():
        counter += 1
    
print(counter)

24

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

Unix:  
`expand hightemp.txt`  
`sed -e 's/^\t/""/g' source.txt`

[Sedのチートシート](https://qiita.com/hirohiro77/items/7fe2f68781c41777e507)

In [3]:
with open("hightemp.txt",'r') as f:
    text = f.read()

print(text.replace("\t"," "))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

unix:  
`cut -f 1 hightemp.txt > col1.txt`  
`cut -f 2 hightemp.txt > col2.txt`

In [4]:
with open("hightemp.txt",'r') as f:
    l1, l2 = [], []
    for line in f.readlines():
        elms = line.split()
        l1.append(elms[0])
        l2.append(elms[1])

with open("col1.txt",'w') as out1:
    out1.write('\n'.join(l1))

with open("col2.txt",'w') as out2:
    out2.write('\n'.join(l2))

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

Unix:  
`paste col1.txt col2.txt > col12.txt`

In [8]:
with open("col1.txt",'r') as in1, open("col2.txt",'r') as in2:
    text = []
    l1, l2 = [s.strip() for s in in1.readlines()], [s.strip() for s in in2.readlines()]
    for c1, c2 in zip(l1, l2):
        text.append(c1 + '\t' + c2)
    
with open("col12.txt", 'w') as out:
    out.write('\n'.join(text))

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ

UNIX:   
`head -n N hightemp.txt`

In [11]:
def head(n):
    with open("hightemp.txt",'r') as f:
        text = f.readlines()[:n]
    
    print(''.join(text))
            
head(5)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ

UNIX:   
`tail -n N hightemp.txt`

In [21]:
def tail(n):
    with open("hightemp.txt",'r') as f:
        text = f.readlines()[-n:]
    
    print(''.join(text))
            
tail(5)

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

UNIX:  
`split -l 3 hightemp.txt`

In [3]:
import string
from itertools import product

PREFIX = 'x'
alphabet = string.ascii_lowercase
namegen = product(PREFIX, alphabet, alphabet)

def split(n):
    with open("hightemp.txt",'r') as f:
        
        counter = 0
        content = ""
        for text in f.readlines():
            if counter >= n:
                name = ''.join(next(namegen))
                with open(name, 'w') as out:
                    out.write(content)
                    
                counter, content = 0, ""
                
            content += text
            counter += 1
            
        name = ''.join(next(namegen))
        with open(name, 'w') as out:
            out.write(content)

split(3)

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

UNIX:  
`sort col1.txt | uniq`

In [41]:
with open("col1.txt",'r') as f:
    l = [s.strip() for s in f.readlines()]
    print('\n'.join(list(set(l))))

和歌山県
大阪府
千葉県
高知県
愛媛県
群馬県
埼玉県
岐阜県
愛知県
山梨県
静岡県
山形県

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

UNIX:  
`sort -k 3 hightemp.txt`

In [47]:
with open("hightemp.txt",'r') as f:
    ll = [l.split() for l in f.readlines()]
    
ll.sort(key = lambda l: l[2])
lines = map(lambda l: '\t'.join(l), ll)
text = '\n'.join(lines)

print(text)

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
山形県	酒田	40.1	1978-08-03
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

UNIX:  
`cut -f 1 hightemp.txt | sort | uniq -c | sort -r -k 1 | cut -b 6-`

1. 1列目を抜き出す
1. ソート
1. 重複を数え上げて除去
1. 数えた数をもとに降順ソート
1. 数字部分を除去(3文字,6バイト分)

In [6]:
import collections

with open("col1.txt",'r') as f:
    l = f.readlines()
    c = collections.Counter(l)

print(''.join([elm for elm, n in c.most_common()]))

埼玉県
山形県
山梨県
群馬県
岐阜県
静岡県
千葉県
高知県
和歌山県
愛知県
愛媛県
大阪府
愛知県